@font-face {
    font-family: 'Untitled Sans';
    src: url('UntitledSans-Medium.eot');
    src: url('UntitledSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('UntitledSans-Medium.woff2') format('woff2'),
        url('UntitledSans-Medium.woff') format('woff'),
        url('UntitledSans-Medium.ttf') format('truetype'),
        url('UntitledSans-Medium.svg#UntitledSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

