/*=============================================================
fonts
=============================================================*/



/*=============================================================
html and body
=============================================================*/
body {
    color: #2E2E2E;
    overflow-x: hidden;
    /*    font-family: 'Portrait';*/
    /*       font-family: 'Akkurat Std';*/
    /*    font-family: 'Untitled Sans';*/

}

li.menu-singin,
.camping-menu,
.hero-btn > a .hero-btn-items,
.protection-items p ,
.incolved-heading a ,
.contribut-btn a,
.footer-menu > ul li a,
.footer-contact p,
.footer-contact > a,
input.footer ,
.footer-content h6
{
    font-family: 'Akkurat Std';
}



.section-padding {
    padding: 100px 0;
}



h1 {
    color: #fff;
    font-size: 54px;
    letter-spacing: 1px;
    line-height: 70px;
    padding: 0 100px 0 0;
    font-family: 'Portrait';
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.63);
}

h2 {
    font-size: 36px;
    font-weight: 400;
    line-height: 45px;
    text-transform: capitalize;
    font-family: 'Portrait';
    color: #323639;
}

h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    font-family: 'Portrait';
}

h4 {
    font-size: 22px;
    line-height: 16px;
    text-transform: capitalize;

}

h5 {
    font-size: 18px;
    line-height: 30px;
    color: #323639;
    font-family: "Untitled Sans";
}

h6 {
    font-size: 16px;
    line-height: 15px;
}

p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin: 0 0 15px;
    padding: 0;
}

button {
    outline: none !important;
}

.btn {
    white-space: inherit;
}

input, textarea {
    border: none;
    padding: 20px 0;
    resize: none;
    width: 100%;
}

textarea {
    outline: none;
    resize: none;
    line-height: 12px;
    border: none;
    background: none;
    border-bottom: 1px solid #b2b2b2;
    width: 100%;
    color: #fff;
    margin-top: 10px;
}

.form-control {
    border-radius: 0;
}

a {
    font-weight: 400;
    display: inline-block;
/*     text-transform: capitalize; */
    color: #060606;
}

a:hover,
a:active {
    color: #000;
    text-decoration: none;
    outline: 0;
}

a:focus {
    text-decoration: none;
    outline: 0;
}

:focus {
    outline: 0;
}


ul {
    margin: 0;
    list-style-type: none;
}


::placeholder {
    color: #000;
    text-transform: capitalize;
}

::-moz-placeholder {
    color: #000;
    text-transform: capitalize;
}

:-ms-input-placeholder {
    color: #000;
    text-transform: capitalize;
}

::-webkit-input-placeholder {
    color: #000;
    text-transform: capitalize;
}

/*============= styles ===================*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom:
}

/* Margin Top bottom */

.mt-15 {
    margin-top: 15px
}

.mt-20 {
    margin-top: 20px
}

.mt-30 {
    margin-top: 30px
}

.mt-50 {
    margin-top: 50px;
}

.mt-60 {
    margin-top: 60px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 00px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-90 {
    margin-bottom: 90px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mtb-20-30 {
    margin: 20px 0 30px;
}

.mtb-20-0 {
    margin: 20px 0;
}

/* Pading Top bottom */


.pt-10 {
    padding-top: 10px
}


.pt-15 {
    padding-top: 15px
}


.pt-20 {
    padding-top: 20px
}


.pt-30 {
    padding-top: 30px
}



.pt-40 {
    padding-top: 40px
}



.pt-50 {
    padding-top: 50px
}



.pt-60 {
    padding-top: 60px
}

.pt-60 {
    padding-top: 60px
}

.p-10 {
    padding: 10px
}

.p-20 {
    padding: 20px
}

.p-30 {
    padding: 30px
}

.p-40 {
    padding: 40px
}

.p-50 {
    padding: 50px
}

.p-50 {
    padding: 60px
}

.pt-pb-10 {
    padding: 10px 0;
}

.pt-pb-20 {
    padding: 20px 0;
}

.pt-pb-40 {
    padding: 30px 0;
}

.pt-pb-50 {
    padding: 50px 0;
}

.pt-pb-60 {
    padding: 60px 0;
}

.pt-pb-70 {
    padding: 70px 0;
}

.pt-pb-80 {
    padding: 80px 0;
}

.pt-pb-90 {
    padding: 90px 0;
}

.pt-pb-100 {
    padding: 100px 0;
}

/**/


/*=============== preloader =================*/

#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background: radial-gradient(#222, black);*/
    background: #0B1424;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
