/* (1366x768) WXGA Display */

@media only screen and (min-width: 1600px) and (max-width: 1920px) {

    .involved-area::after {
        background-attachment: scroll;
        background-clip: border-box;
        background-color: rgba(0, 0, 0, 0);
        background-image: url("../img/bg/get-involved-bg.png");
        background-origin: padding-box;
        background-repeat: no-repeat;
        content: "";
        height: 100%;
        left: 50%;
        position: absolute;
        top: 0;
        transform: translate(-40%);
        width: 100%;
        z-index: -1;
    }

}

@media only screen and (min-width: 1400px) and (max-width: 1920px) {

    .contribut-area::after {
        right: 50%;
        transform: translate(35%);
    }

}

/*		Medium Device	*/

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .logo img {
        width: 210px;
    }

    .main-menu .nav-menu ul {
        margin-left: 0;
    }


    .menu ul li {
        display: inline-block;
        margin-right: 20px;
    }

    .menu {

        margin-left: 0;
    }

    .main-menu nav ul li:last-child a {
        font-size: 12px;

    }

    a.contribut-btn-bg {
        margin-right: 8px;

    }

    .involved-content {
        margin: 81px 0;
        padding: 36px;
    }



}


/*		Tablet Layout: 768px.	*/
@media only screen and (min-width: 320px) and (max-width: 991px) {
    .hamburger {
        top: 4.6rem;
        display: block
    }

    .hamburger.up-icon {
        margin-top: 23px;
    }

    .mobile_menu .menu-singin {
        bottom: 20px;
        position: absolute;
        text-decoration: none;
        width: 120px;
    }

    .slicknav_nav a {
        font-size: 18px;
        padding: 10px 30px;
    }

    ul#navigation .menu-singin {
        display: block;
    }

    header.header-menu.single-page .main-menu .nav-menu ul {
        margin-top: -52px;
        text-align: right;
    }



    .for-donors ul#navigation {
        margin-bottom: 20px
    }

    .for-donors ul#navigation {
        justify-content: space-around;

    }

    .hero-content h1 {
        font-size: 48px;
        padding: 0;
    }

    .hero-btn > a .hero-btn-items {
        width: 265px;

    }

    .hero-btn > a {
        display: block;
        padding: 10px 0;
    }

    .hero-area .owl-nav,
    .hero-area .owl-dots {
        display: none
    }


    .protection-bg::after {
        width: 94%;

    }

    .protection-content {
        margin: 50px;

    }

    .involved-area::after {
        display: none;

    }

    .contribut-area {
        height: 450px;

    }

    .contribut-area::after {
        background: rgba(0, 0, 0, 0) url("../img/bg/contribute-bg.png") no-repeat scroll right center / cover;
    }

    .video-upload-footer {
        margin-top: 50px;
    }

}


/*		Mobile Layout: 320px.    */

@media only screen and (max-width: 767px) {
    .hearts.hamburger {
        top: -3.3rem !important;
    }

    .hamburger {
        top: 3.6rem;
    }

    nav.active + .container1 {
        transform: translateX(-26%) scale(0.8);
    }

    /*========== Single Page===========*/
    .single-page-header ul#navigation {
        margin-bottom: 30px;
        text-align: center;
    }

    .upload-page-heading .main-menu .nav-menu ul {
        margin-bottom: 20px;
        text-align: left;
    }

    .logo img {
        width: 225px;
    }

    .hero-content h1 {
        font-size: 33px;
        line-height: 40px;
        padding: 0;
    }

    .protection-bg::after {
        display: none;

    }

    .protection-content {
        margin: 0;
    }

    .protection-content {
        margin: 0;
        padding: 50px 15px;
    }

    .protection-content-bottom {
        display: inherit;
        padding: 35px 0;
        text-align: center;
    }

    .collaboration-content {
        padding: 50px 16px;
    }

    .water-content {
        display: inline;
    }

    .water-logo {
        margin-right: 40px;
    }

    p.water-logo-small {
        font-size: 12px;
    }

    .recent-share-content {
        display: inherit;
        position: relative;
    }

    .recent-share-photo {
        left: 50%;
        position: absolute;
        top: 30px;
        transform: translate(-50%);
    }

    .recent-share {
        margin-top: 250px;
    }

    .recent-share a {
        font-size: 15px;
        line-height: 30px;
    }


    .involved-content {
        margin: 0;

    }

    .contribut-area {
        height: 550px;
    }

    .contribut-content {
        padding: 50px 30px;
    }

    .protection-items {
        margin-top: 30px;
        width: 40%;
        display: inline-block;
    }

    .recent-share-photo img {
        width: 200px;
    }


    .news-alerts {
        display: inherit;
    }

    .video-area-sub-heading {
        margin-left: 30px;
    }


    /*==========  modal ======*/
    .modal-header,
    .modal-body {
        padding: 1rem 2rem;
    }

    .modal-content {
        padding: 10px;
    }

    h2.modal-title {
        margin: 10px 0 10px;
    }

    .modal-header .close {
        padding: 1rem 0rem;
    }

    .priveci {
        margin: 30px 30px 40px;
    }

    .modal-footer {
        padding: 2rem 1rem;
    }
}

/*		Wide Mobile Layout: 480px.    */

@media only screen and (min-width: 300px) and (max-width: 600px) {
    nav.active + .container1 {
        transform: translateX(-41%) scale(0.8);
    }

    .hearts.hamburger {
        right: 2rem;

    }

    nav.active li.menu-singin {
        right: 30px;

    }

    .contribut-btn a {
        font-size: 14px
    }
}
