/*
-----------------------------------------------------------------------------------
    

    
/*================= 1.1 Header Area ===============*/


.header-menu {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height:110px;
    width: 100%;
    padding-top:10px;
    z-index: 9;
    background: #fff;
    -webkit-box-shadow: 0px 2px 18px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 18px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 18px -9px rgba(0, 0, 0, 0.75);
}


/*=======Upload Heading page========*/
header.header-menu.upload-page-heading {
    background: #000000 none repeat scroll 0 0;
}

.upload-page-heading .main-menu .nav-menu ul li a {
    margin-left: 0;
    color: #fff;
}

.upload-page-heading .popmenu ul li a {
    color: #fff;
}

.upload-page-heading .popmenu ul {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.upload-page-heading .main-menu .nav-menu ul li {
    margin-left: 0;
}

.header-menu.for-donors .menu {
    justify-content: flex-end;

}

nav.request-menu.active li.menu-singin {
    bottom: 50%;

}

a.logout {
    font-size: 14px;
    font-weight: normal;
}

/*=======Upload Heading page========*/

.logo {
    padding: 20px 0;
}

.logo img {
    width: 330px;
}

a.icon.backend {
    color: #fff;
    font-family: 'Untitled Sans';
    font-size: 20px;
    font-weight:500;
}

a.icon.frontend {
    color: #313639;
    font-family: 'Untitled Sans';
    font-size: 20px;
    font-weight:500;
}

a.icon.backend img,
a.icon.frontend img{
    width:40px
}

.logo .logo-1 {
    display: block
}

.logo .logo-2 {
    display: none
}

.main-menu .nav-menu ul li {
    display: inline-block;
    margin-right: 26px;
}

.main-menu .nav-menu ul {
    margin-left: 64px;
}

.camping-menu {
    background: #2e2e2e none repeat scroll 0 0;
    border-radius: 27px;
    padding: 10px 19px;
    color: #fff;
    border: 1px solid #2e2e2e;
    transition: all .3s ease;
    cursor: pointer;
    -webkit-box-shadow: 0px 2px 18px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 18px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 18px -9px rgba(0, 0, 0, 0.75);
}

.camping-menu:hover {
    background: #000;
    color: #fff;
}

li.camping-menu a {
    color: #fff;
}

.main-menu .nav-menu ul li:last-child {
    margin-right: 0;
}

.main-menu nav ul li:last-child a {
    padding-right: 0;

}

.main-menu nav ul li a:hover {
    color: #2b2a2a;
    /*    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.83);*/
}

.main-menu nav ul li a {
    transition: all .3s ease;
    ;
}

.main-menu nav ul li.active a {
    color: #2b2a2a;
    /*    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.83);*/
}



nav.nav-menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

ul#navigation .menu-singin {
    display: none;
}

.upload-page-heading ul#navigation .menu-singin {
    display: block;
}


/*================= 1.1 Header Area END ==============*/
/*================= 1.2 Hero Area Start ==============*/



.hero-single-items {
    background: url(../img/bg/hero-bg-1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center
}

/*
.hero-area .owl-nav {
    bottom: 50px;
    font-size: 40px;
    left: 50%;
    position: absolute;

}

.hero-area .owl-dots {
    left: 50px;
    position: absolute;
    top: 50%;
    width: 24px;
}

.hero-area .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: none;
    display: block;
    transition: opacity .2s ease;
    border-radius: 30px;
    border: 1px solid #fff
}

.hero-area .owl-dots .owl-dot.active span,
.hero-area .owl-dots .owl-dot:hover span {
    background: #fff;
}
*/

.hero-area i {
    color: #fff;
}


.hero-btn {
    margin-top: 50px;
}

.hero-btn > a .hero-btn-items {
    align-items: center;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #000;
    border-radius: 50px;
    display: flex;
    height: 82px;
    margin-right: 15px;
    overflow: hidden;
    padding: 5px 25px;
    position: relative;
    width: 260px;
    z-index: 1;
}

.hero-btn p {
    font-size:14px;
    line-height:1.5;
    padding:10px 0 0;
}

.hero-btn > a .hero-btn-items::after {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: -3px;
    position: absolute;
    top: 0;
    transform: skew(10deg);
    width: 26%;
    z-index: -1;

}

.hero-btn > a .hero-btn-items::before {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    position: absolute;
    right: -3px;
    top: 0;
    transform: skew(10deg);
    width: 76%;
    z-index: -1;
    opacity: 0;
    transition: all .3s ease;
}

.hero-btn > a .hero-btn-items:hover::before {
    opacity: 1
}

.hero-btn-items img {
    margin-right: 30px;
    width: 30px !important;
}

.hero-btn-items p {
    color: #000;
    line-height: 22px;
    transition: all 0.3s ease 0s;
}

.hero-btn > a .hero-btn-items:hover.hero-btn-items p {
    color: #fff
}

.for-donors ul#navigation .menu-singin {
    display: block;
}

.for-donors ul#navigation {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

/* ========= Protection area start =========== */

.protection-bg {
    position: relative;
    z-index: 1
}

.protection-bg::after {
    background: url(../img/bg/protection-bg-1.png);
    position: absolute;
    top: 0;
    left: 15px;
    width: 90%;
    height: 100%;
    content: "";
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.protection-content {
    background: #fff none repeat scroll 0 0;
    margin: 50px 0;
    padding: 0;
    -webkit-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.5);
}

.protection-content-top {
    padding: 78px 65px 20px;
}

.protection-content-top p{
    max-width: 460px;
}

.protection-content-top h6,
.mission-content > h6,
.collaboration-content > h6,
.recent-share-heading h6,
.incolved-heading h6 {
    color: #b1b2b2;
}

.protection-content-top > h2 {
    margin: 20px 0 40px;
}

span.protection-icon {
    height: 50px;
    width: 100%;
    display: block;
    position: relative;
    text-align: center
}

span.protection-icon p{
    text-align: center
}

.protection-content-bottom {
    align-items: center;
    border-top: 2px solid #d8d8d8;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 35px 67px;
}

.protection-items p {
    font-size: 12px;
    margin-top: 10px;
}

.protection-items i {
    font-size: 26px;
}

/* ========= Protection area End =========== */
/* ========= our-mission area Start =========== */
.our-mission-area {
    background: #000000 none repeat scroll 0 0;
    margin-bottom: 100px;
    text-align: center;
}

.mission-content {
    color: #fff;
}

.mission-content > h3 {
    font-size: 33px;
    font-weight: 400;
    line-height: 60px;
}

.mission-content > h6 {
    font-weight: 600;
    margin-bottom: 25px;
}

.mission-content sup {
    font-size: 17px;
}

/* ========= our-mission area End =========== */

/*========== Collaboration Area Start  ============*/
.collaboration-area {
    background: url(../img/bg/collaboration-bg-1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.collaboration-content {
    background: #fff none repeat scroll 0 0;
    color: #2e2e2e;
    padding: 78px 89px 78px 65px;
    -webkit-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.5);
}


.collaboration-content > h2 {
    font-size: 32px;
    font-weight: 300;
    margin: 30px 0;
}


.number-items {
    background: #f2f2f2 none repeat scroll 0 0;
    border: 1px solid #313639;
    border-radius: 50%;
    height: 70px;
    margin-right: 20px;
    padding: 0;
    text-align: center;
    width: 70px;
}

.number-items > h3 {
    display: block;
    font-family: akkurat std;
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
    padding: 24px;
}


.collaboration-items {
    align-items: flex-start;
    display: flex;
    margin-top: 30px;
}

.collaboration-items p {
    font-size: 18px;
}

/*========== Collaboration Area End  ============*/


/*========== Watermark Area Start  ============*/
.water-logo {
    margin-right: 40px;
    width: 112px;
}

.water-content {
    display: flex;
    align-items: center
}

.water-mark-content p {
    margin: 20px 0 0;
}

.water-mark-content p.water-logo-small {
    font-size: 14px;
}

.water-logo-small > span {
    font-weight: 600;
}

.water-logo-small > img {
    margin: 0 5px;
}

.water-mark-content h2 {
    color: #323649;
}

/*========== Watermark Area End  ============*/


/* ========== Recent Shares Area Start  ============*/

.recent-share-area,
.involved-area,
.footer-area {
    background: #f1f1f1 none repeat scroll 0 0;
    padding-top: 59px
}

.recent-share-area {
    background: #f1f1f1 none repeat scroll 0 0;
}

.recent-share span {
    font-weight: 700;
}

.recent-share-area h2 {
    margin-top: 20px;
}

.recent-share-area a {
    margin-top: 25px;
}

.recent-share h4 {
    font-size: 20px;
    line-height: 30px;
    margin: 10px 0;
}

.recent-share-content {
    display: flex;
    justify-content: space-between;
    padding: 20px 15px 20px 0;
}

.recent-share h6 img {
    margin-right: 5px;
    margin-top: -4px;
    width: 16px;
}

.recent-share a {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    margin: 0 0 10px;
    /* font-family: 'Akkurat Std';*/
    text-transform: inherit
}

a.read-more {
    font-size: 15px;
    font-weight: normal;
    text-decoration: underline;
    font-family: 'Akkurat Std';
    text-transform: capitalize;
}

.recent-share > p {
    font-family: "Untitled Sans";	
    font-size: 16px;	
    line-height: 24px;
    color:#323639
}

.recent-share-photo img {
    margin-right: 15px;
    width: 165px;
}

/*========== Recent Shares Area End  ============*/

/*========== Get Involved Area Start   ============*/
.involved-area {
    position: relative;
    z-index: 1
}

.involved-area::after {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/bg/get-involved-bg.png");
    background-origin: padding-box;
    background-repeat: no-repeat;
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.involved-content {
    background: #000000 none repeat scroll 0 0;
    color: #fff;
    margin: 80px 0;
    padding: 78px 89px 78px 65px;
}

.incolved-heading > h2 {
    margin: 20px 0 40px;
}

h2.heading-white {
    color: #fff;
}

.incolved-heading a {
    background: #fff none repeat scroll 0 0;
    border-radius: 30px;
    display: inline-block;
    margin-top: 30px;
    padding: 12px 30px;
    transition: all .3s ease;
    border: 1px solid #fff
}

.incolved-heading a:hover {
    background: #e0e0e0 none repeat scroll 0 0;
    color: #000;
}

/*========== Get Involved Area End   ============*/

/*========== Contribute Area Start   ============*/
.contribut-area {
    align-items: center;
    display: flex;
    height: 750px;
    position: relative;
    z-index: 1;
}

.contribut-area::after {
    background: url(../img/bg/contribute-bg.png);
    position: absolute;
    content: "";
    z-index: -1;
    background-repeat: no-repeat;
    background-position: right;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
}

.contribut-content {
    background: #fff none repeat scroll 0 0;
    padding: 50px;
    -webkit-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.5);
}

.contribut-content > h2 {
    margin-bottom: 20px;
}

.contribut-btn a {
    border: 1px solid #2e2e2e;
    border-radius: 30px;
    margin-top: 30px;
    padding: 10px 20px;
    transition: all .3s ease
}

.contribut-btn a:hover {
    border: 1px solid #2e2e2e;
    background: #e0e0e0;
    color: #2e2e2e
}

a.contribut-btn-bg {
    background: #2e2e2e none repeat scroll 0 0;
    color: #fff;
    margin-right: 15px;
    transition: all .3s ease
}

a.contribut-btn-bg:hover {
    background: #000;
    color: #fff;
    border: 1px solid #2e2e2e;
}

/*========== Contribute Area   End  ============*/


/*========== Footer Area   Start  ============*/

.footer-content {
    margin: 50px 0;
}

.footer-content p{
    font-size:13px;
    margin:0;
}


.footer-content h6 {
    font-family: 'Akkurat Std';
    font-size: 13px;
}

.footer-contact {
    margin-top: 50px;
}

.footer-contact > a {
    font-size: 13px;
    margin-top: 15px;
    text-decoration: underline;
    color: #2E2E2E
}

.footer-menu {
    margin-top: 50px;
}

.footer-menu > ul li {
    display: inline-block;
    margin-right: 80px;
}

.footer-menu > ul li:last-child {
    margin-right: 0px;
}

.footer-menu > ul li a {
    color: #2e2e2e;
    font-size: 12px;
    text-decoration: underline;
}

input.footer {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    margin-top: 40px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #989898;
    padding: 18px 0;
    font-size: 13px;
    color: #323639;
}


input.footer::placeholder {    
    color: #878787;
    text-transform: uppercase;
}

/*========== Footer Area   End  ============*/



/*============= Sign-In PopUp =============*/
.modal {
    background: rgba(255,255,255,.5);
}
.modal-content{
    padding: 68px 83px 85px;
    border-radius: 0;
    box-sizing: border-box;
}
.modal-backdrop.show {
    opacity: 0.5;
    position: relative;
    z-index: 999;
}
h2.modal-title {
    margin: 20px 0 10px;
}
.modal-header .close {
    padding: 2rem 1rem;
    font-size: 60px;
    font-weight: 200;
    opacity:1;
}
.modal-header-inner {
    width: 100%;
    border-bottom:2px solid #979797
}

.modal-header-inner .modal-title{
    display: inline-block;
    margin-top:20px;
}
.modal-dialog {
    height: 100vh;
    max-width: 1000px;
}

.modal-dialog input{
    border-bottom: solid 1px #979797;
    max-width:354px;
    font-family: 'Akkurat Std';
}


.modal-dialog input::placeholder{
    color:#979797
}

.modal-footer {
    padding: 4rem 0;
}

.input-type {
    margin-top: 30px;
}

.priveci {
    margin: 30px 0 40px;
}

.priveci p{
    max-width:563px
}

.modal-header, .modal-body {
    /* padding: 1rem 4rem; */
}
.modal-body {
    border-top: solid 2px #979797;
    padding-top: 0;
    margin-bottom: 35px;
}
.menu-singin a {
    text-decoration: underline;
}

.menu-singin a:hover {
    text-decoration: none;
}

.theme-btn {
    background: #2E2E2E none repeat scroll 0 0;
    border: medium none;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    padding: 12px 35px;
    -webkit-box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.4);
}

.theme-btn.bg-gray {
    background: #d6d6d6 none repeat scroll 0 0;
}

.theme-btn:hover {
    background: #000000;
    color: #fff
}

button.theme-btn {
    border-radius: 30px;
}

.under {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    cursor: pointer;
    padding-right: 26px;
    text-decoration: underline;
    font-family: 'Akkurat Std';
    color: #000;
}

.modal-footer .under {
    padding-left: 50px;
}

.modal-footer {
    justify-content: inherit;
}

.modal-footer .theme-btn {
    margin-left: 15px;
}

.modal-footer .theme-btn {
    background: #d6d6d6 none repeat scroll 0 0;
    margin-left: 0;
}

.modal-footer .theme-btn:hover {
    background: #2E2E2E;
}

.modal-footer .signin {
    display: inline-block;
    border:0;
    border-radius: 30px;
    color: #fff;
    padding: 15px 35px;
    font-size: 15px;
    transition:all ease .3s;
    font-family: "Akkurat Std";
    background: #2E2E2E;
    cursor: pointer;
}


#myModalSingIin .modal-footer .theme-btn{
    background: #2E2E2E
}

.priveci a {
    font-weight: 600;
    text-decoration: underline;
}

.priveci a:hover,
.under:hover,
li.menu-singin:hover {
    text-decoration: none;
}

li.menu-singin {
    cursor: pointer;
    text-decoration: underline;
}

/*============= Sign-In PopUp =============*/

/* =============== For Forensic Researchers =============== */

.heading-forensic > h2 {
    margin: 30px 0 15px;
}

.heading-forensic {
    margin-bottom: 30px;
}

.forensicResearchers-page input::placeholder {
    color: #878787
}

.forensicResearchers-page .input-type > input {
    padding: 30px 0 15px;
    font-family: 'Akkurat Std';
    border-bottom: solid 1px #979797;    
}

.request-access [disabled='disabled'],
.forensic-researcher [disabled='disabled'],
.for-donors [disabled='disabled'],
.form-link-upload [disabled='disabled'],
.signin-form [disabled='disabled']{
    background:#c2c2c2;
    cursor: default;
}

/* ============================= Upload Video ======================*/
.video-box-upload-heading {
    margin-bottom: 15px;
}

.video-box-upload {
    -webkit-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.3);
    padding: 50px;
}

.video-box-upload > p {
    margin: 25px 0;
}

.your-vidoeo-link {
    border-bottom: 1px solid #ccc;
}

.video-link,
.video-link::placeholder {
    display: inline-block;
    font-size: 13px;
    color: #878787;
    font-family: 'Akkurat Std';
    border: 0;
    width: 360px;
    margin-right: 20px;
}

button.submit.dark {
    background: black;
}

input.video-link.active {
    color: black;
}

button.submit {
    display: inline-block;
    border: 0;
    text-transform: uppercase;
    color: #fff;
    border-radius: 50px;
    padding: 8px 20px;
    font-size: 13px;
    transition:all ease .3s;
    font-family: "Akkurat Std"
}

button.submit {
    background: #000;
    cursor: pointer;
}

/*
button.submit:hover {
    background: #000;
    cursor: pointer;
}
*/

.browser-area {
    margin-top: 20px;
    border: 1px dashed #2836d4;
    height: 180px;
}

.browser-area p {
    font-family: 'Akkurat Std';
    font-size: 13px;
    padding: 30px;
}

a.browse-file {
    text-transform: lowercase;
    text-decoration: underline;
}

.dropzone {
    width:100%;
    border: dashed 1px #00f;
    margin-top:22px;
    padding:25px;
    min-height:177px;
}

.dropzone.dragover {
    border-color: #ddd;
    background: #f5f5f5;
    color: #ddd;
}

.dropzone .inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.dropzone .inputfile + label {
    text-decoration:underline;
    cursor: pointer;
}

.warning p {
    font-family: 'Untitled Sans';
    font-size: 12px;
    line-height: 16px;
    margin-top: 20px;
}

.warning p a{
    text-decoration:underline;
}

.warning p a:hover{
    text-decoration:none;
}

.news-alerts-heading {
    margin: 60px 0 20px;
}

.news-alerts-heading h3{
    font-size: 16px;
    font-family: 'Untitled Sans'
}

.news-alerts {
    display: flex;
    margin-top: 30px;
}

.news-img img {
    margin-right: 30px;
    max-width: 165px;
}
.news-content p{
    line-height:1.5
}
.news-content > a {
    font-size: 20px;
    font-weight: 600;
    margin: 5px 0 10px;
}


.video-area-sub-heading {
    margin-left: 30px;
    margin-top: 80px;
}

.video-area {
    height: 350px;
    margin-top: 30px;
    position: relative;
    z-index: 1;
    margin-left: 30px
}

.video-area::after {
    background: #f8f8f8 none repeat scroll 0 0;
    border: 1px solid #D6D7D7;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 15px;
}

.video-area-content {
    left: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.video-area-content > p {
    color: #cacaca;
    margin-top: 40px;
}


.analyzingVideo-heading {
    border-bottom: 1px solid #cacaca;
    padding-bottom: 10px;
}

.detail-report-heading{
   border-bottom: 1px solid #cacaca;
   display:flex;
   justify-content:space-between;
}

.detail-report-heading > div{
    display:inline-block;
}

.detail-report-heading  .analyzingVideo-heading{
    border:0;
}

a.share-icon {
    font-size: 24px;
    color: #323639;
    margin: 5px;
}

a.share-link {
    font-family: 'Akkurat Std';
    text-decoration: underline;
    margin-left: 8px;
}

a.share-link:hover {
    text-decoration:none
}
.status-items {
    margin-top: 50px;
}

.status-items h5 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 40px;
    color: #000;
    font-family: 'Untitled Sans';
    text-transform: uppercase;
}

h4.analysis-progress {
    font-family:'Akkurat Std';
    font-size: 18px;
    letter-spacing: 1.29px;
    color: #323639;
    margin-bottom: 25px;
}

.status-items > h6,
.tum-face > a {
    color: #8d8d8d;
    font-size: 18px;
    margin-bottom: 15px;
    font-family: Portrait;
}

.status-items p.status-p {
    font-family: akkurat std;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
}

p.link-uploaded {
    text-decoration: underline;
    font-size: 18px;
    color: #2e2e2e;
    font-family: 'Untitled Sans';
}

.status-p > img {
    margin-right: 10px;
}

.tum-face h6 {
    color: #8d8d8d;
    font-weight: 600;
    margin: 15px 0;
}

.tum-face {
    margin-bottom: 30px;
}

.tum-face p {
    font-size: 17px;
    letter-spacing: 1px;
    margin-bottom: 25px;
    color: #2e2e2e;
    font-family:'Untitled Sans';
    line-height: 1.9;
}

.tum-face p img{
    width:21px;
    height:auto;
}

img.scan-status-icon {
    margin: 0 10px;
}

span.processing {
    color: #000;
}

span.pending {
    color: #979797;
}
.youtube-video {
    margin-top: 60px;
}

.youtube-video img{
    max-width:635px;
    width:100%;
    height:auto;
}

.youtube-video iframe {
  height: 350px;
  width: 100%;
}

.more-upload-video {
    display: flex;
    margin-bottom: 10px;
    margin-left: 30px;
}

.video-thumbnail {
    margin-right: 15px;
    max-width: 184px;
}
.video-upload-footer .theme-btn.bg-gray {
    box-shadow:none;
}
.thumb-content h5 {
    font-size: 18px;
    font-family: 'Akkurat Std';
}

.thumb-content img {
    margin-right: 5px;
    width: 16px;
}

.thumb-content > a {
    font-weight: 600;
    margin: 10px 0 2px;
    text-decoration: underline;
}

.thumb-content > p {
    color: #8d8d8d;
    font-family:'Untitled Sans';
    font-size:12px;
    color: #9b9b9b;
}

p.status-space {
    font-family: akkurat std;
    font-size: 18px;
    letter-spacing: 2px;
    word-spacing: 2px;
}

.status-space > img {
    margin-right: 15px;
}

/*=================FaQ-Page====================*/
.faq-content {
    margin-top: 50px;
}

.faq-content h5 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}


/*===================Menu==================*/
header.header-menu .container {
    max-width: 1300px;
}

.menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
}

.menu ul li {
    display: inline-block;
    margin-right: 26px;
}


.popmenu {
    align-items: center;
    display: flex;
}

/*
.menu li:last-child {
  margin-right: 0;
}*/



/*=================== Mobile Menu ==================*/
nav {
    height: 100%;
    position: fixed;
    right: 0;
    text-align: right;
    width: 100%;
    background: #080808;
    background: -moz-linear-gradient(-45deg, #080808 0%, #323231 100%, #323231 100%);
    background: -webkit-linear-gradient(-45deg, #080808 0%, #323231 100%, #323231 100%);
    background: linear-gradient(135deg, #080808 0%, #323231 100%, #323231 100%);

}

nav::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}

nav > ul {
    width: 80%;
    display: inline-block;
    vertical-align: middle;
}

nav > ul > li {
    display: block;
    font-size: 0.8rem;
    line-height: 2;
    padding-left: 0;
    text-transform: uppercase;
    width: 100%;
}

nav.active ul li a {
    font-size: 18px;
    padding: 10px 30px;
    width: 100%;
    color: #fff;
    text-transform: capitalize;
    font-weight: 500;
}

nav.active ul li a:hover {
    background: #080808;
    background: -moz-linear-gradient(-45deg, #080808 0%, #323231 100%, #323231 100%);
    background: -webkit-linear-gradient(-45deg, #080808 0%, #323231 100%, #323231 100%);
    background: linear-gradient(135deg, #080808 0%, #323231 100%, #323231 100%);
}

nav.active li.menu-singin {
    border: 1px solid #fff;
    border-radius: 30px;
    bottom: 50px;
    color: #fff;
    cursor: pointer;
    display: inline;
    padding: 10px 30px;
    position: absolute;
    right: 70px;
    text-align: center;
    text-decoration: none;
    width: 130px;
    text-transform: capitalize;
}

.hearts.hamburger {
    cursor: pointer;
    position: absolute;
    right: 6rem;
    top: -4rem;
    z-index: 999;
}

.hamburger {
    cursor: pointer;
    position: fixed;
    right: 3rem;
    top: 2rem;
    display: none
}


.hamburger p {
    color: #fff;
    font-family: Portrait;
}

.hamburger p i {
    color: #fff;
    font-size: 16px;
    margin-left: 8px;
}


.container1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    color: #262626;
    overflow-x: hidden;
    transition: .2s ease;
}

.video-upload-footer {
    margin-top: 80px;
}

h5#exampleModalLabel {
    font-size: 35px;
    font-family: Portrait;
    padding-top: 25px;
}

.modal-header,
.modal-footer {
    border: 0;
}

.modal-header {
    padding: 0;
}

p.ar-text {
    /* border-top: solid 2px #d7d7d7; */
    padding-top: 35px;
    color: #000;
    font-size: 14px;
    max-width: 600px;
}

#exampleModal .modal-footer {
    padding: 0;
    justify-content: flex-end;
}

.theme-btn.dark-round {
    float: right;
    background: #000;
}

.theme-btn.dark-round:hover {
    float: right;
    background: gray;
}

#exampleModal {
    display:table;
}

#exampleModal .modal-dialog {
    max-width: 881px;
    width: 100%;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 30%; 
    margin-left: -400px;
    margin-top: -150px;
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
    #exampleModal .modal-dialog {
        max-width: 800px;
        width: 100%;
        height: 300px;
        position: relative;
        left: 0%;
        top: 20%; 
        margin:0 auto
    }
    .your-vidoeo-link {
        border-bottom:0
    }
    .video-link {
        display: inline-block;
        border: 0;
        width: 100%;
        border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
        padding-bottom: 10px
    }
    button.submit {
        margin-bottom:20px
    }
}


@media screen and (orientation: portrait) {
    nav.active + .container1 {
        transform: translateX(-20%) scale(0.8);
        box-shadow: 0 0 30px 5px rgba(38, 38, 38, 0.3);
    }
}

@media screen and (orientation: landscape) {
    nav.active + .container1 {
        transform: translateX(-15%) scale(0.8);
        box-shadow: 0 0 30px 5px rgba(38, 38, 38, 0.3);
    }
}
