@font-face {
    font-family: 'Akkurat Std';
    src: url('AkkuratStd-Mono.eot');
    src: url('AkkuratStd-Mono.eot?#iefix') format('embedded-opentype'),
        url('AkkuratStd-Mono.woff2') format('woff2'),
        url('AkkuratStd-Mono.woff') format('woff'),
        url('AkkuratStd-Mono.ttf') format('truetype'),
        url('AkkuratStd-Mono.svg#AkkuratStd-Mono') format('svg');
    font-weight: normal;
    font-style: normal;
}

