@font-face {
    font-family: 'Portrait';
    src: url('Portrait-Medium.eot');
    src: url('Portrait-Medium.eot?#iefix') format('embedded-opentype'),
        url('Portrait-Medium.woff2') format('woff2'),
        url('Portrait-Medium.woff') format('woff'),
        url('Portrait-Medium.ttf') format('truetype'),
        url('Portrait-Medium.svg#Portrait-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Untitled Sans';
    src: url('UntitledSans-Medium.eot');
    src: url('UntitledSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('UntitledSans-Medium.woff2') format('woff2'),
        url('UntitledSans-Medium.woff') format('woff'),
        url('UntitledSans-Medium.ttf') format('truetype'),
        url('UntitledSans-Medium.svg#UntitledSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Portrait';
    src: url('Portrait-Medium_1.eot');
    src: url('Portrait-Medium_1.eot?#iefix') format('embedded-opentype'),
        url('Portrait-Medium_1.woff2') format('woff2'),
        url('Portrait-Medium_1.woff') format('woff'),
        url('Portrait-Medium_1.ttf') format('truetype'),
        url('Portrait-Medium_1.svg#Portrait-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

